{{page-title 'Form'}}
{{!-- <input type='text' />
<input type='text' />
<input type='text' />
<div>Order.prop: {{this.model.prop}}</div>
<button type='button' {{on 'click' this.onChangeProp}}>Change prop!</button>
<LinkTo @route='order.summary'>Zamów!!!</LinkTo> --}}

<div class='mt-3'>
  <Shared::Form
    @modelType='order'
    @model={{this.model}}
    @disabled={{false}}
    @onSave={{this.onSave}}
  />
</div>